@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --pr-color: #8f0101;
  --sc-color: #b81515;

  --bg-pr-color: #ffffff;
  --bg-sc-color: #f5f5f5;
  --bg-tt-color: #000000;

  --text-pr-color: #222222;
  --text-sc-color: #fff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 400;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat';
  color: var(--text-pr-color);
}

h1 {
  font-weight: var(--title-weight);
  color: var(--pr-color);
}

.section-title h2 {
  font-size: 2.8rem;
  font-weight: var(--title-weight);
  text-align: center;
}

.section-title hr {
  width: 18rem;
  height: 0.4rem;
  background-color: var(--sc-color);
  margin: 1.6rem auto 3.2rem;
  border: none;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 3.2rem;
  }
}
