@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --pr-color: #8f0101;
  --sc-color: #b81515;

  --bg-pr-color: #ffffff;
  --bg-sc-color: #f5f5f5;
  --bg-tt-color: #000000;

  --text-pr-color: #222222;
  --text-sc-color: #fff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 400;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat';
}

h1 {
  font-weight: var(--title-weight);
  color: var(--pr-color);
}
