header {
  width: 100%;
  height: 13.8rem;
  background-color: var(--bg-tt-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 4.8rem;
}

.logo {
  display: inline-block;
  width: 6.8rem;
  height: 6.4rem;
}

nav {
  display: none;
}
