header {
  width: 100%;
  height: 13.8rem;
  background-color: var(--bg-tt-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 4.8rem;

  position: relative;
}

.logo {
  display: inline-block;
  width: 6.8rem;
  height: 6.4rem;
}

input[type='checkbox']:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--bg-tt-color);
}

nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
}

.list-link li {
  list-style: none;
  margin: 1.6rem 0;
  color: var(--text-sc-color);
  padding-left: 1.6rem;
}

.list-link a {
  text-decoration: none;
  color: var(--text-sc-color);
  font-weight: var(--menu-text-weight);
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
  }

  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
    position: relative;
  }

  .navigation-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
