.hero-img {
  height: 40rem;
  width: 100%;

  background: url('../img/hero-mobile.jpg') no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 62rem;
    background: url('../img/hero-tablet.jpg') no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url('../img/hero-desktop.jpg') no-repeat;
    background-size: cover;
  }
}
