.hero-img {
  height: 40rem;
  width: 100%;

  background: url('../img/hero-mobile.jpg') no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 8.8rem 2.4rem;
  text-align: center;

  font-size: 2rem;
  font-weight: var(--text-weight);

  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 62rem;
    background: url('../img/hero-tablet.jpg') no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 8.8rem 6rem;
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url('../img/hero-desktop.jpg') no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 8.8rem 12rem;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 8.8rem 16rem;
  }
}
