.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.card {
  color: var(--text-sc-color);
  background-color: black;
  width: 312px;
  height: 288px;
  padding: 2.4rem 1.6rem;
  border-radius: 1.6rem;

  text-align: center;
}
.card-header {
  display: block;
  background-color: transparent;
  position: static;
}

.card-header p {
  font-size: 2rem;
  font-weight: var(--text-weight);
}

.card-section h3 {
  margin-top: 0.8rem;
  font-size: 4rem;
  font-weight: var(--title-weight);
}

.card-section h3 span {
  display: inline-block;
  margin-top: 2.4rem;
  font-size: 3.2rem;
}

.japao {
  background: url('../img/bg-card-japao.jpg');
  background-size: cover;
}

.san-andres {
  background: url('../img/bg-card-sanandres.jpg');
  background-size: cover;
}

.paraiba {
  background: url('../img/bg-card-paraiba.jpg');
  background-size: cover;
}

.manaus {
  background: url('../img/bg-card-manaus.jpg');
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 42rem;
    height: 30.8rem;
  }

  .card-header {
    font-size: 4.8rem;
  }

  .card-header span {
    font-size: 4rem;
  }
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 58.8rem;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 120.5rem;
    margin: 0 auto;
  }
}
